<%= header %>

  <input type="radio" name="movie-selection" class="popular" id="popular" checked><label for="popular">Popular</label><input type="radio" name="movie-selection" class="top_rated" id="top_rated"><label for="top_rated">Top rated</label><input type="radio" name="movie-selection" class="upcoming" id="upcoming"><label for="upcoming">Upcoming</label>

  <div id="content">
    <section class="popular hidden">
      <h2 class="section-title">Popular</h2>
    </section>

    <section class="top_rated hidden">
      <h2 class="section-title">Top rated</h2>
    </section>

    <section class="upcoming hidden">
      <h2 class="section-title">Upcoming</h2>
    </section>
  </div>

  <%= footer %>