.card {
  box-sizing:       border-box;
  padding:          5px 5px 5px 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border:           10px #000202;
  transition:       width 2s, background-color 1s, box-shadow 1s;
  border-radius:    10px;
  color:            black;
  margin-top:       10px;
  position:         relative;

  -webkit-box-shadow: 11px 6px 18px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    11px 6px 18px 3px rgba(0, 0, 0, 0.75);
  box-shadow:         11px 6px 18px 3px rgba(0, 0, 0, 0.75);
}

.card:hover {
  box-shadow:       0 8px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6);
}

.card.active {
  box-shadow:       0 8px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
}

a {
  text-decoration: none;
}

.real-name {
  font-size: 24px;
  margin:    10 auto;
}

.company-name {
  font-size: 19px;
  margin:    0 auto;
}